body{
    display: flex;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.side{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: 100vh;
    align-items: center;
    margin-top: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    padding: 16px;
}
#selected{
    padding: 0;
    align-items: center;
}
#page_selected{
    display: flex;
    padding: 9px;
    background-color: #78AB5E;
    border-radius: .6em;
}
#home{
    margin-top: 30px;
    margin-bottom: 30px;
}
.main{
    display: flex;
    width: 96%;
    height: 100vh;
    background-color: #F2F2F2;
}
.cards{
    flex: 1;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    background-color: #ffffff;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.2em;
    border-radius: 1.3em;
}
.title{
    margin: 20px;
    font-weight: 700;
    font-size: x-large;
}
.card_title{
    font-weight: 500;
    color: #29630c;
}
#cap_bar{
    background-color: #E2E1E1;
    display: flex;
    flex: 1;
    color: #707070;
    border-radius: .6em;
    min-height: 2em;
    align-items: center;
    justify-content: center;
}

#SKU_info{
    display: flex;
}
#left,#mid,#right{
    display: flex;
    margin: .3em;
    align-items: center;
    justify-content: center;
}
#left{
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex: .8;
}
#on_van{
    color: #78AB5E;
    font-weight: 800;
}
#total_qty{
    color: #78AB5E;
    font-weight: 800;
    font-size: x-large;
}
.qty_icon{
    height: 1.6em;
}
#mid{
    flex-direction: column;
    flex: 1;
}
.icon_info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .7em;
    flex: 1;
}
#divider{
    background-color: #707070;
    flex: .01;
}
#right{
    flex-direction: column;
    flex: 1.4;
    gap: .2em;
    background-color: #f1f1f1;
    border-radius: .8em;
    margin-left: 1em;
    min-height: 4em;
}
#location_text{
    font-size: small;
}
#loc{
    color: #78AB5E;
    font-weight: 800;
    font-size: x-large;
}

#add_select{
    display: flex;
    padding-left: 15px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.button_icon{
    height: 2em;
}
#add_to{
    flex: .7;
    font-weight: 400;
    font-size: .9em;
    color: #78AB5E;
}
#van_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #78AB5E;
    border-radius: .6em;
    min-height: 2.4em;
}
#office_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #E2E1E1;
    border-radius: .6em;
    min-height: 2.4em;
}
.input_row{
    display: flex;
    gap: 1em;
}
.in_field{
    flex: 3;
    background-color: #E2E1E1;
    border-radius: .6em;
}
.submit{
    display: flex;
    color: #FFFFFF;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: #78AB5E;
        border-radius: .6em;
        min-height: 2em;
}
#alert{
    height: 85vh;
}